/*------------PARTE FONTS -----------*/
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO:wght@100..400&display=swap');

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
/*----------PARTE HEADER-----------*/
}
.header {
    color: white;
    position: relative;
    width: 100%;
    height: calc(108vh - 50px);
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../IMG/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    z-index: -1; 
}

.header h1 {
    font-family: "Angkor", serif;
    font-size: 10vw;
    margin: 120px 0 0 0;
}

.header h2 {
    font-family: "Playwrite CO", cursive;
    font-size: 3vw;
    margin-top: -20px;
    padding: 12px;
}
.header .highlight {
    color: #FFD700;
    font-family: "Creepster", system-ui;
    font-size: 15vw;
}
.white-line {
    width: 100%;
    height: 43px;
    background-color: rgb(255, 255, 255);
    margin-top: 200px;
}
@media (max-width: 768px) {
    .header h1 {
        font-size: 2em;
    }

    .header h2 {
        font-size: 1em;
    }
}
/***********PARTE NAVBAR***********/
/***********PARTE INDEX***********/
